$lightgrey: lightgray;
$white: white;
$whitesmoke: whitesmoke;
$inputcolor: #adadad;
$grey: #dddddd;
$lighterpurple: rgba(181, 181, 247, 0.8);
$lightpurple: rgba(181, 181, 247, 1);
$purple: #8e44ad;
$turquoise: #3498db;
$blue: rgb(0, 71, 188);
$darkblue: rgba(0, 0, 200, .8);
$green: rgb(0, 155, 16);
$success: rgba(0, 255, 0, 0.44);
$warning: rgba(255, 0, 0, 0.44);
$red: red;
$darkgrey: rgba(0, 0, 0, .3);
$darkergrey: rgba(0, 0, 0, .6);
$black: black;
$green: #7ac142;
$white: #fff;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);
