@import "colors";

* {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Lobster', cursive;
}

.alert {
  width: 100%;
  margin-top: 15px;
  display: block;
  height: 35px;
  text-align: center;
  padding-top: 15px;
}

.alert-success {
  background-color: $success;
}

.alert-warning {
  background-color: $warning;
  display: none;
}
