@import "colors";

.header {
  width: 100%;
  background-color: $whitesmoke;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  height: 50px;

  .right-section {
    width: 300px;
    position: absolute;
    right: 0;
    top: 50%;

    .lang {
      position: absolute;
      right: 36%;
      top: 50%;
      transform: translateY(-50%);

      button {
        background: none;
        border: none;
        cursor: pointer;
      }

      button:hover {
        font-weight: 900;
      }
    }

    .search-icon {
      height: 20px;
      position: absolute;
      cursor: pointer;
    }

    .search-section {
      position: absolute;
      background-color: whitesmoke;
      z-index: 10;
      left: 0;
    }
  }

  .home-logo {
    position: absolute;
    left: 10px;
  }

  .home-logo:hover {
    opacity: .6;
  }

  .user-dropdown-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }

  .user-logo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .user-logo:hover {
    opacity: .6;
    cursor: pointer;
  }

  .user-dropdown {
    display: none;
    position: absolute;
    background: #fff;
    padding: 15px 35px 65px 15px;
    border: 1px solid #dddddd;
    margin-top: 26px;
    right: -8px;
    width: 150px;
    height: 150px;
    z-index: 1;
  }

  .user-dropdown:before, .user-dropdown:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 80%;
    border: 11px solid transparent;
    border-bottom-color: $grey;
  }

  .user-dropdown:after {
    left: 80%;
    border: 10px solid transparent;
    border-bottom-color: $white;
  }

  .cart-dropdown {
    display: none;
    position: absolute;
    background: $white;
    padding: 15px 35px 65px 15px;
    border: 1px solid $grey;
    margin-top: 50px;
    right: 50px;
    width: 150px;
    height: 150px;
    z-index: 1;
  }

  .cart-dropdown:before, .cart-dropdown:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 80%;
    border: 11px solid transparent;
    border-bottom-color: $grey;
  }

  .cart-dropdown:after {
    left: 80%;
    border: 10px solid transparent;
    border-bottom-color: $white;
  }

  .dropdown-show {
    display: block;
  }

  .user-button {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 30px;
    color: $white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: $blue;
    transition: all .2s ease;
    left: 50%;
  }

  .user-button:hover {
    background-color: $green;
  }

  .user-button:active {
    opacity: .6;
  }

  .user-register-button {
    margin-top: 20px;
  }

  .go-checkout-button {
    margin-top: 20px;
  }

  .register-label:hover {
    text-decoration: underline solid $blue;
  }

  .horizontal-line {
    position: absolute;
    top: 70px;
    margin-left: 20px;
    width: 160px;
  }

  .navs {
    position: absolute;
    text-align: left;
    top: 90px;
    left: 20px;
  }

  .nav-label {
    padding-bottom: 10px;
    display: block;
    color: $black;
    text-decoration: none;
  }

  .nav-label:hover {
    text-decoration: underline solid $black;
  }

  .shopping-cart-logo {
    position: absolute;
    right: 15%;
    margin-right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .shopping-cart-logo:hover {
    opacity: .6;
  }

  h2 {
    margin: 0;
    display: inline-block;
    transform: translateY(40%);
  }

  .burger {
    display: flex;
    width: 50px;
    position: absolute;
    left: 0;
    cursor: pointer;
  }

  @media only screen and (min-width: 1000px) {
    .burger {
      display: none;
    }
  }

  .logged-in-user {
    position: absolute;
    text-align: left;
    top: 35%;
    left: 20px;
  }

  .user-logout-button {
    display: block;
    position: absolute;
    width: 160px;
    height: 30px;
    color: $whitesmoke;
    border: none;
    cursor: pointer;
    background-color: $blue;
    transition: all .2s ease;
  }

  .search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
    border: 2px solid black;
    width: 200px;

    .search-text {
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: $black;
      font-size: 16px;
      transition: 0.4s;
      line-height: 20px;
      font-weight: bold;
      width: 80%;
    }

    .search-button {
      float: right;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $white;
      display: flex;
      justify-content: left;
      align-items: center;
      color: $white;
      cursor: pointer;
      position: absolute;
      right: 10px;
    }

    .search-button {
      i {
        font-size: 15px;
      }
    }
  }

  .categories {
    display: inline-flex;
    position: absolute;
    left: 100px;
    background-color: whitesmoke;
    transform: translateY(50%);

    a {
      text-decoration: none;
      color: $black;
      padding-right: 10px;
      padding-left: 10px;

      p {
        margin: 0;
        font-size: 20px;
      }
    }
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: $black;
  }
}

@media only screen and (max-width: 1000px) {
  .lang {
    display: none !important;
  }
  header {
    height: 100px !important;

    .categories {
      display: none !important;
    }

    img {
      display: none;
    }

    .burger {
      height: 100px;
      width: 100px !important;
    }

    .search-box {
      width: 300px !important;
      height: 30px !important;

      input {
        font-size: 25px !important;
      }
    }
  }
}
