.header {
	width: 100%;
	height: 50px;
	background-color: whitesmoke;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
}

.home-logo {
	position: absolute;
	left: 10px;
}

.user-logo {
	position: absolute;
	right: 10px;
}

.shopping-cart-logo {
	position: absolute;
	right: 60px;
	margin-right: 10px;
}

h2 {
	margin: 0;
	display: inline-block;
	transform: translateY(40%);
}

.special-offers > .title {
	text-align: center;
}

.special-offers > .title > h2 {
	transform: translateY(-15%);
}

.inner-search-section > label > input {
	font-size: 20px;
	width: 100%;
	border-radius: 50px;
	padding-left: 10px;
	margin: 0;
	outline: none;
	border: none;
}

.inner-search-section > label {
	margin-left: -5px;
}

.search-icon {
	height: 20px;
	position: absolute;
	right: 0;
	top: 15%;
	cursor: pointer;
}

.inner-search-section {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.search-section {
	background-color: whitesmoke;
	padding: 10px;
	margin: 20px 0;
}

@media only screen and (max-width: 600px) {
	img {
		display: none;
	}
	.burger {
		display: flex;
		width: 50px;
		position: absolute;
		left: 0;
		cursor: pointer;
	}
	.special-offers > .title > h2 {
		font-size: 15px;
	}
	
	.search-section {
		display: none;
	}
}
@media only screen and (min-width: 600px) {
	.burger {
		display: none;
	}
}
