.header {
	width: 100%;
	height: 50px;
	background-color: whitesmoke;
	text-align: center;
}

.home-logo {
	position: absolute;
	left: 0;
}

.user-logo {
	position: absolute;
	right: 0;
}

.shopping-cart-logo {
	position: absolute;
	right: 50px;
}

h2 {
	margin: 0;
	display: inline-block;
	transform: translateY(40%);
}
