* {
	font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
}

.gender-section {
	width: 80%;
	position: relative;
	margin: 20px auto;
	border: 1px solid black;
	text-align: center;
}

.section {
	width: 30%;
	height: 100px;
	border: 1px solid black;
	display: inline-flex;
}
