.products {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	margin-top: 70px;
	width: 70%;
	left: 60%;
	position: absolute;
	transform: translateX(-50%);
	z-index: -1;
	margin-bottom: 70px
}

.product {
	height: 350px;
	border: 2px solid black;
	margin: 10px;
	text-align: center;
}

.product-link {
	text-decoration: none;
	color: black;
}

.product > img {
	width: 80%;
	margin-top: 20px
}

h1 {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
	.products {
		grid-template-columns: 50% 50%;
		left: 50%;
	}
}

@media only screen and (max-width: 500px) {
	.products {
		grid-template-columns: 100%;
		left: 50%;
	}
}

@media only screen and (min-width: 1000px) {
	.products {
		grid-template-columns: 33% 33% 33%;
	}
}

