.products {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	margin-top: 70px;
	width: 70%;
	left: 60%;
	position: absolute;
	transform: translateX(-50%);
	margin-bottom: 70px;
	z-index: 0;
}

.product {
	height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
	margin: 10px;
	transition: all .3s ease;
	text-align: center;
}

.product:hover {
	transform: scale(1.03);
	border: 2px solid rgba(0,0,0,.5);
}

.product-link {
	text-decoration: none;
	color: black;
}

.product > img {
	max-height: 150px;
	margin-top: 20px;
}

h1 {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 0;
}

.add-to-cart-button {
	border-radius: 10px;
  background-color: blue;
  border: 1px solid rgba(0,0,0,.5);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
	transition: all .3 ease;
}

.add-to-cart-button:hover {
	cursor: pointer;
	background-color: green;
}


@media only screen and (max-width: 1000px) {
	.products {
		grid-template-columns: 50% 50%;
		left: 50%;
	}
}

@media only screen and (max-width: 500px) {
	.products {
		grid-template-columns: 100%;
		left: 50%;
		
	}
}

@media only screen and (min-width: 1000px) {
	.products {
		grid-template-columns: 33% 33% 33%;
	}
}
