@import "colors";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-selection {
  height: 30px;
}

.quantity-count {
  text-align: center;
  border-radius: 3px;
  border: none;
  background-color: $lightpurple;
  height: 100%;
  width: 30px;
}

.quantity-count:hover {
  background-color: $lightpurple;
}

.quantity-count:active {
  background-color: $lightpurple;
}

.quantity-count-minus {
  margin-right: 1px;
}

.quantity-count-plus {
  margin-left: 1px;
}

.quantity-field {
  height: 100%;
  width: 40px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .quantity-selection {
    height: 70px;
  }
  .quantity-field {
    width: 75px;
    font-size: 35px;
  }
  .quantity-count {
    font-size: 35px;
    height: 75px;
    width: 75px;
  }
}
